name: docs

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  HOMEBREW_NO_INSTALL_CLEANUP: TRUE

jobs:
  generate:
    runs-on: macos-14
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Jazzy
        run: gem install jazzy
      - name: Build Docs
        run: make docs
      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
